# /etc/fstab: static file system information.
#
# Use 'blkid' to print the universally unique identifier for a
# device; this may be used with UUID= as a more robust way to name devices
# that works even if disks are added and removed. See fstab(5).
#
# <file system> <mount point>   <type>  <options>       <dump>  <pass>
/dev/mapper/bsv--deian--app--vg-root /               ext4    errors=remount-ro 0       1
# /boot was on /dev/sda1 during installation
UUID=92d394ac-1e36-4cc0-bef5-b0d7a80c3125 /boot           ext2    defaults        0       2
/dev/mapper/bsv--deian--app--vg-swap_1 none            swap    sw              0       0
/dev/sr0        /media/cdrom0   udf,iso9660 user,noauto     0       0
/dev/mapper/vg--store-lv--store /mnt/store ext3 defaults 0 0

//10.5.183.126/asb/borgs  /mnt/borgs cifs vers=2.1,file_mode=0660,dir_mode=0770,uid=borg_serve,gid=backup,credentials=/root/cifs.creds/126_borg.emb
#//10.5.183.132/www /mnt/code/132-www cifs vers=1.0,file_mode=0770,dir_mode=0770,uid=emeric,credentials=/root/cifs.creds/132_www.ysh
#//10.5.183.137/d$  /mnt/code/137-d   cifs vers=2.1,file_mode=0770,dir_mode=0770,uid=emeric,credentials=/root/cifs.creds/137_app.emb
